<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  Admin Page
  <!--<ion-tabs>
    <ion-tab label="Music" icon="musical-note"></ion-tab>
    <ion-tab label="Profile" icon="person"></ion-tab>
    <ion-tab label="people" icon="people"></ion-tab>
  </ion-tabs>-->
  <ion-item>Add User</ion-item>
</ion-content>

<!--<ion-split-pane id="splitPane" class="split-pane split-pane-ios hydrated">

  <ion-menu side="start" role="complementary" class="menu-type-reveal menu-enabled menu-side-start split-pane-side hydrated">

    <ion-header class="header header-ios hydrated">
      <ion-toolbar color="secondary" class="ion-color ion-color-secondary hydrated">
        <ion-title class="title-ios hydrated">Left Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="hydrated" style="&#45;&#45;offset-top:0px; &#45;&#45;offset-bottom:0px;">
      <ion-list class="list list-ios hydrated">
        <ion-item class="in-list item hydrated">Open end Menu</ion-item>
        <ion-item class="in-list item hydrated">Close Menu</ion-item>
        <ion-item class="in-list item hydrated">Close Menu</ion-item>
        <ion-item class="in-list item hydrated">Close Menu</ion-item>
        <ion-item class="in-list item hydrated">Close Menu</ion-item>
        <ion-item class="in-list item hydrated">Close Menu</ion-item>
        <ion-item class="in-list item hydrated">Close Menu</ion-item>
        <ion-item class="in-list item hydrated">Close Menu</ion-item>
        <ion-item class="in-list item hydrated">Close Menu</ion-item>
        <ion-item class="in-list item hydrated">Close Menu</ion-item>
        <ion-item class="in-list item hydrated">Close Menu</ion-item>
        <ion-item class="in-list item hydrated">Close Menu</ion-item>
      </ion-list>
    </ion-content>

    <ion-footer class="footer footer-ios hydrated">
      <ion-toolbar color="secondary" class="ion-color ion-color-secondary hydrated">
        <ion-title class="title-ios hydrated">Footer</ion-title>
      </ion-toolbar>
    </ion-footer>

  </ion-menu>

  <div class="ion-page split-pane-main menu-content menu-content-reveal" main="" style="transform: translateX(0px);">

    <ion-header class="header header-ios hydrated">
      <ion-toolbar class="hydrated">

        <ion-buttons slot="start" class="sc-ion-buttons-ios-h sc-ion-buttons-ios-s hydrated">
          <ion-menu-button class="button hydrated"></ion-menu-button>
        </ion-buttons>

        <ion-title class="title-ios hydrated">Navigation</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content padding="" class="hydrated">
      <h1>Page 1</h1>

    </ion-content>

  </div>
</ion-split-pane>-->
